@media screen and (max-width: 699px) {
    .container form {
        min-width: 90%;
    }

    .container .result-box {
        min-width: 90%;
    }
}

@media screen and (min-width: 700px) {
    .container form {
        width: 500px;
    }

    .container .result-box {
        width: 500px;
    }
}